:host {
display: flex;
flex-direction: row;
flex: 1;
padding: 0 10vw;

.left-panel-container {
  flex: 2;
  margin-right: 10px;
  .padding {
    height: 75px;
  }
  .left-panel {
    padding: 25px;
    border: 1px solid rgba(0,47,47,1);
    border-radius: 5px;
  }
}
  .main-container{
    flex: 4;
    margin-left: 20px;
  }

  @media screen and (max-width: 1048px) {
    flex-direction: column;
  }

}
