:host {
  .list-container {
    max-height: 250px;
    overflow-y: auto;
    margin: 10px 0;
  }

  mat-error {
    margin: 5px;
  }

  .inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ol {
    padding-inline-start: 15px;
    .list-item {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }

  mat-icon {
    cursor: pointer;
  }

  mat-card {
    padding: 10px;
    margin: 10px;
  }

  .field-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon {
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }

  mat-form-field {
    flex: 1;
  }

  .title-container {
    display: flex;
    padding-bottom: 10px;
  }

  .absolute {
position: absolute;
  }

}
