:host {
  h2 {
    text-align: center;

    .delete-button {
      margin-left: 25px;
      line-height: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
      width: 50%;
    }
  }

  .button-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  ol {
    width: 50%;
    padding-inline-start: 15px;
    .list-item {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }

  //   form {
  //     display: flex;
  //     flex-direction: row;

  //     .button-container {
  //       display: flex;
  //       flex-direction: row;
  //       padding: 25px;
  //     }
  //   }

  //   .list-container {
  //     overflow-y: auto;
  //     flex: 1;
  //   }

  //   mat-error {
  //     margin: 5px;
  //   }

  //   .inline {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //   }
  //   ol {
  //     padding-inline-start: 15px;
  //     .list-item {
  //       display: flex;
  //       justify-content: space-between;
  //       margin: 10px;
  //     }
  //   }

  //   mat-icon {
  //     cursor: pointer;
  //   }

  //   mat-card {
  //     padding: 10px;
  //   }

  //   .field-with-icon {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;

  //     mat-icon {
  //       margin-bottom: 15px;
  //       margin-left: 10px;
  //     }
  //   }

  //   mat-form-field {
  //     flex: 1;
  //   }

  //   .absolute {
  // position: absolute;
  //   }
}
