@use '@angular/material' as mat;

@include mat.core();


$theme: mat.define-theme((
 color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
  ),
));

html {
    // Emit theme-dependent styles for common features used across multiple components.
    @include mat.core-theme($theme);
  
    // Emit styles for MatButton based on `$my-theme`. Because the configuration
    // passed to `define-theme` omits typography, `button-theme` will not
    // emit any typography styles.
    @include mat.button-theme($theme);
  
    // Include the theme mixins for other components you use here.
    height: 100%;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
  .content {
    padding: 75px;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 150px);
    flex: 1;

    @media screen and (max-width: 900px) {
      padding: 75px 10px;
    }
}
}

.flex {
  flex: 1;
}