:host {
  .list-card {
    cursor: pointer;
    transition: background-color 100ms ease-in;
    margin-top: 20px;
    &:hover {
      background: rgba(255, 255, 255, 0.01);
    }

    &.selected {
      border-color: hotpink;
    }
  }
  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-icon {
      margin-right: 10px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    .flex {
      flex: 1;
    }
    .add-list {
      margin-top: 15px;
    }
  }
}
