
<header>
  <h5>Saved Lists</h5>
</header>
@for (list of lists(); track list.id) {
<mat-card
  class="list-card"
  appearance="outlined"
  [routerLink]="['/lists', list.id]" 
  routerLinkActive="selected">
  <mat-card-content class="list-item">
    <mat-icon
      aria-hidden="false"
      aria-label="List icon"
      fontIcon="groups"
    ></mat-icon>
    {{ list.listName }}
  </mat-card-content>
</mat-card>
}
@empty {
  You have no lists... yet.
}
<div class="actions">
  <div class="flex"></div>
  <button mat-button [routerLink]="['new']" class="add-list">
    Create List
  </button>
</div>
