:host {
.list-container {
    max-width: 15%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content {
        flex: 1;
        margin-top: 25px;

    }
}
}