<!-- <div class="list-container">
  <div class="list-selector">
    @if (lists().length) {

    <mat-form-field>
      <mat-label>Select a list</mat-label>
      <mat-select (selectionChange)="onListSelected($event)">
        @for (list of lists(); track list.id) {
        <mat-option value="{{ list.id }}">{{ list.listName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    } @else {
    <div class="empty">There's nothing here!</div>
    }
  </div>
  <div class="list-actions">
    <button mat-fab aria-label="New List" (click)="createList()">
      <mat-icon>add</mat-icon>
    </button>
    @if (selectedList()) {

    <button mat-fab aria-label="Edit List" (click)="editList()">
      <mat-icon>edit</mat-icon>
    </button>
    }
  </div>
</div> -->
<header>
  <h5>Saved Lists</h5>
</header>
@for (list of lists(); track list.id) {
<mat-card
  class="list-card"
  [class]="{ selected: list == selectedList() }"
  appearance="outlined"
  (click)="onListSelected(list)"
>
  <mat-card-content class="list-item">
    <mat-icon
      aria-hidden="false"
      aria-label="List icon"
      fontIcon="groups"
    ></mat-icon>
    {{ list.listName }}
  </mat-card-content>
</mat-card>
}
<div class="actions">
  <div class="flex"></div>
  <button mat-button (click)="createList()" class="add-list">
    Create List
  </button>
</div>
